<p style="color: green"><%= notice %></p>
<% content_for :title, "Friends" %>
<h1>Friends</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="friends">
    <% @friends.each.with_index do |friend, idx| %>
      <%= render friend, locals: { idx: idx } %>
    <% end %>
  </tbody>
</table>
<%= turbo_frame_tag :new_friends, src: new_friend_path %>
